<div class="row">
  {{#if isDraft }}
    {{#if session.isAuthenticated}}
      {{ggf-tournament.complete-setup}}
    {{/if}}
  {{else}}
    <div class="col s12">
      {{ggf-tournament.matches-list matches=model}}
    </div>
  {{/if}}
</div>

{{outlet}}
