<div class="row">
  {{#form-wrapper for=league}}
    <div class="col s12">
      <div class="input-field col s12">
        {{#field-wrapper for="name" content=league}}
          {{md-input
              value=name
              label='League name'
          }}
        {{/field-wrapper}}
      </div>
      <div class="col s12">
        {{#field-wrapper for="logo" content=league}}
          <label class="custom-file-upload">
            {{ggf-input-file logo=logo id="file-upload"}}
              <i class="fa fa-cloud-upload"></i> Upload image
          </label>
        {{/field-wrapper}}

        {{#if logo}}
          {{#md-card-content}}
            {{ggf-image-preview logo=logo width="100" height="100"}}
          {{/md-card-content}}
        {{/if}}
      </div>

      <div class="input-field col s12">
        {{md-btn-submit
          icon='mdi-content-send'
          iconPosition='right'
          text='Create'
          action='create'
        }}
      </div>
    </div>
  {{/form-wrapper}}
</div>
