.modal {
  .modal-footer {
    padding: 4px 6px 80px;
  }
}

.preview-wrapper {
  margin-top: 10px;
  margin-left: 12px;
}

.modal-create-btn {
  button {
    position: absolute;
    top: 52px;
  }
}
