<div class="row">
  <h2 class="center-align">
    404 Not Found
  </h2>
  <div class="center-align">
    {{#link-to "index" title="Dashboard"}}
      Click Here To Return To Dashboard'
    {{/link-to}}
  </div>
</div>
